<!DOCTYPE html>
<html>
<head>
  <title>Visionboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />
 
    <meta name="viewport" content="width=device-width" />

  <script src="https://use.typekit.net/ayp2aqd.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	
</head>
<body>

<%= yield %>

</body>
</html>
